<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="messages_container">

        <h1>Conversa com <%= @element.name %></h1>

        <ul class="messages-all">
        <% @messages.each do |m| %>

          <%= render 'messages/show', m: m %>

        <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>

<%= render 'messages/form', message: @message %>
