<div class="messages_container">
  <ul class="messages-all">
  <% @messages.each do |m| %>

    <%= render 'show', m: m %>

  <% end %>
  </ul>
</div>
<%= render 'form', message: @message %>

<% content_for :after_js do %>
  <script>
    App['conversation'] = App.cable.subscriptions.create(
      { channel: 'MessagesChannel' },
      { received: (data) => {
        if (data.current_sender.length !== <%= current_user.role.size %>) {
          var messages = document.querySelector('.messages-all');
          messages.insertAdjacentHTML('beforeend', data.message_partial);
        }
      }
    })
  </script>
<% end %>
