<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="messages_container">

        <h1>Conversa com <%= @element.name %></h1>

        <ul class="messages-all">
        <% @messages.each do |m| %>

          <%= render 'messages/show', m: m %>

        <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>

<%= render 'messages/form', message: @message %>

<% content_for :after_js do %>
  <script>

    const scrollLastMessageIntoView = () => {
      const messages = document.querySelectorAll('.message');
      const lastMessage = messages[messages.length - 1];

      if (lastMessage !== undefined) {
        lastMessage.scrollIntoView();
      }
    }

    scrollLastMessageIntoView();
  </script>
<% end %>
