.gig-box {
  background-color: white;
  color: gray;
  border-radius: 4px;
  min-height: 100px;
  min-height: 100%;
}

.gig-image-box{
  img {
    border-radius: 4px;
  }
}

.gig-description {
  margin-top: 10px;
}

.gig-infos-box {

}

.gig-infos {
  text-align: center;
}

.gig-apply {
  margin-top: 10px;

  button {

  }
}
.map-gig-show{
  border-radius: 4px;
}
.separator-margin {
  margin-bottom: 15px;
}
