.gig-box {
  background-color: white;
  color: gray;
  border-radius: 4px;
}

.gig-image-box{

}

.gig-description {
  margin-top: 10px;
}

.gig-infos-box {

}

.gig-infos {
  text-align: center;
}

.gig-apply {
  margin-top: 10px;

  button {

  }
}
