.gig-box {
  background-color: white;
  color: gray;
  border-radius: 4px;
  min-height: 100px;
  min-height: 100%;
}

.gig-image-box{
  img {
    border-radius: 4px;
  }
}

.gig-description {
  margin-top: 10px;
  padding: 5px 0 0 10px;
}

.text-description {
  font-size: 19px;
  color: black;
}

.gig-infos-box {

}

.gig-infos {
  text-align: center;

  p {
    margin-top: 5px;
  }
}

.gig-apply {
  margin-top: 10px;
  padding: 15px;
  text-align: center;

  button {

 }
}

.map-gig-show{
  border-radius: 4px;
}
.separator-margin {
  margin-bottom: 15px;
}

.bar-name {
  background-color: $highlight;
  border-radius: 4px;
  text-align: center;
  font-size: 49px;
}
