// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// Palette

$background: #232323;
$call-action: #E82B62;
$light-white: #FFFCED;
$transparent: rgba(255, 255, 255, .2);
$almost-transparent: rgba(255, 255, 255, .5);

// NOT USED

$main: #E8670B;
$main-text: #000000;
$highlight: rgba(10, 0, 0, 0.7);
$highlight-light: rgba(255, 255, 255, 0.5);
$detail: #FFFFFF;
$price: #56E39F;
$underline: #e45180;
$button-color: #d9d9d9;

// BAR/BANDS CARD COLORS
