// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// Palette

$background: #2b2e5b;
$main: #E8670B;
$main-text: #000000;
$highlight: rgba(10, 0, 0, 0.7);
$detail: #FFFFFF;
$price: #57AB47;
$underline: #e45180
