// Specific CSS for your home-page
a:hover {
  text-decoration: none !important;
}

#como-funciona {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
  margin: 50px 400px 0 400px;
}
