<h2><%= @bar.name %>- Mr.Gigz</h2>

<%= link_to "Voltar", bars_path %>
<%= link_to "Deletar", @bar,
                       method: :delete,
                       data: { confirm: "Você tem certeza?" } %>

