<% if current_page?(:root) %>
  <div class="footer fix-footer-home">
<% else %>
  <div class="footer">
<% end %>
    <span>
    <%= link_to "Sobre nós", "#"%> <a>|</a> <%= link_to "Contato", "#"%>
    </span>
    <span id="copyright-phrase">Copyright © 2018 Mr.Gigz, Inc. All rights reserved.</span>
    <span>
    <a href="#"><i class="fab fa-github fab-footer"></i></a>
    <a href="#"><i class="fab fa-instagram fab-footer"></i></a>
    <a href="#"><i class="fab fa-facebook fab-footer"></i></a>
    <a href="#"><i class="fab fa-twitter fab-footer"></i></a>
    <a href="#"><i class="fab fa-linkedin fab-footer"></i></a>
    </span>
</div>
