<% if current_page?(:root) %>
  <nav class="home-nav navbar navbar-expand-lg navbar-light fixed-top">
<% else %>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-brand-dakr navbar-brand-dark">
<% end %>
  <p class="navbar-brand"></p>



<%= link_to href: 'home_path/' do %>
    <%= image_tag 'navbar-logo.png', height: 70, alt: 'a face that is unnervingly happy'%>
<% end %>




  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <%= render 'shared/navbar_logic' %>

    </ul>
  </div>
</nav>
