<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <p class="navbar-brand"></p>

  <%= content_tag :p, class: brand_class_from_page do %>
    <%= link_to 'Mr.Gigz', home_path %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <%= render 'shared/navbar_logic' %>

    </ul>
  </div>
</nav>
