<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <p class="navbar-brand" ><%= render 'shared/root_to_home_logic.html.erb' %></p>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <%= render 'shared/navbar_logic' %>

    </ul>
  </div>
</nav>
