<div class="banner band_banner">
  <div class="banner-content">
    <h1>Bem-vindo ao Mr.Gigz</h1>
    <p>Encontre palcos para seu talento!</p>
    <%= link_to 'Explorar', gigs_path, class: 'bttn-dark' %>
  </div>
</div>

<!-- Map! -->

<div class="container">
  <h2>Gigs da semana</h2>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>

<!-- Bars ! -->
