<div class="banner band_banner">
  <div class="banner-content">
    <h1>Bem-vindo ao Mr.Gigs!</h1>
    <p style="font-size: 35px; font-weight: bold; font-family: Do+Hyeon">Encontre palcos para seu talento!</p>
    <%= link_to 'Explorar', gigs_path, class: 'bttn-dark' %>
  </div>
</div>
<!-- Como funciona? -->
<div class="container">
  <h2 id="titulo-como-funciona">Como Funciona</h2>
  <div class="como-funciona">
    <div class="process row text-center mb-5">
      <div class="col content-col">
        <div class="circle-icon-container"><i class="fas fa-info-circle fa-4x"></i></div>
        <br>
        <p class="strong", style="font-size: 30px; font-weight: bold; font-family: Do+Hyeon">Nosso propósito é ...</p>
        <p class="strong", style="font-size: 20px; font-family: Do+Hyeon">Disponibilizar uma base seleta de bandas, com as informações necessárias para a melhor seleção possível.  Criamos conexões entre Bandas, Bares, Produtores e Fãs.</p>
      </div>
      <div class="col arrow-col">
        <i class="fas"></i>
      </div>
      <div class="col content-col">
        <div class="circle-icon-container"><i class="fas fa-binoculars fa-4x"></i></div>
        <br>
        <p class="strong", style="font-size: 30px; font-weight: bold; font-family: Do+Hyeon">Bares ou Produtores</p>
        <p class="strong", style="font-size: 20px; font-family: Do+Hyeon">Basta um simples cadastro para acessar de forma gratuita uma base selecionada de Bandas e Músicos.  Use nossa ferramenta de busca para organizar sua área de Favoritos.</p>
      </div>
      <div class="col arrow-col">
        <i class="fas"></i>
      </div>
      <div class="col content-col">
        <div class="circle-icon-container"><i class="fas fa-bullseye fa-4x"></i></div>
        <br>
        <p class="strong", style="font-size: 30px; font-weight: bold; font-family: Do+Hyeon">Feedback de Clientes</p>
        <p class="strong", style="font-size: 20px; font-family: Do+Hyeon">Através de nossa ferramenta de avaliação, seus clientes e convidados podem avaliar a performance dos músicos e compartilhar informações valiosas para seu negócio.</p>
      </div>
    </div>
  </div>
</div>
