<div class="banner">
  <div class="banner-content">
    <h1>Bem-vindo ao Mr.Gigs!</h1>
    <p>Contrate uma banda</p>
    <a href="#0" class="bttn-dark">Contratar</a>
  </div>
</div>
<!-- Como funciona? -->
<div class="container">
  <h2 id="titulo-como-funciona">Como Funciona</h2>
  <div class="como-funciona">
    <div class="process row text-center mb-5">
      <div class="col content-col">
        <div class="circle-icon-container"><i class="fas fa-address-card fa-4x"></i></div>
        <p class="strong">Cadastro simples</p>
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive
          innovation via workplace diversity and empowerment.</p>
      </div>
      <div class="col arrow-col">
        <i class="fas"></i>
      </div>
      <div class="col content-col">
        <div class="circle-icon-container"><i class="fas fa-users fa-4x"></i></div>
        <p class="strong">Pesquisa Precisa (Multi-filtros)</p>
        <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content
          in real-time will have multiple touchpoints for offshoring.</p>
      </div>
      <div class="col arrow-col">
        <i class="fas"></i>
      </div>
      <div class="col content-col">
        <div class="circle-icon-container"><i class="fas fa-briefcase fa-4x"></i></div>
        <p class="strong">Finais felizes</p>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing
        solely on the bottom line.</p>
      </div>
    </div>
  </div>
</div>
