<div class="banner">
  <div class="banner-content">
    <h1>Bem-vindo ao Mr.Gigs!</h1>
    <p>Contrate uma banda</p>
    <a href="#0" class="bttn-dark">Contratar</a>
  </div>
</div>
<!-- Como funciona? -->
<div class="container">
  <h2 id="como-funciona">Como Funciona</h2>
</div>
