.band-infos-container {
  border-radius: 1px solid white;
}

.band-show-photo {
  img {
    width: 100%;
    height: 100%;
  }
}

.band-show-name {
  text-align: center;
  padding: 15px;
  h2 {
    letter-spacing: 3px;
  }

  h4 {
    padding-bottom: 6px;
    margin-top: -8px;
    font-size: 17px;
  }
}

.band-min-price {
  border-bottom: 0.1px solid white;
}

.band-show-description {
  padding: 15px;
}

.band-show-action {
  display:flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  .band-show-media {
    font-size: 23px;
  }
}

.band-show-video {
  h3 {
    padding-left: 4px;
  }
}

.band-repertorio {
  h3 {
    padding-left: 4px;
  }
}
