.navbar {
  position: fixed;
}

.background-page {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
  asset-url('home-background-map.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  height: 116vh;
  display:flex;
}


.bands-container {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  h4 {
    color: rgba(255,255,255,0.5);
  }
}

.band-infos-container {
  border-radius: 1px;
  margin: 0 auto;
  content: justify;
}

.band-show-photo {
  img {
    margin-left: 8px;
    margin-right: 24px;
    content: justify;
    width: 100%;
    height: 90%;
    margin-top: 24px;
    border-radius: 2%;
    box-shadow: 5px 10px 20px black;
  }
}

.band-show-name {
  border-top: 10px;
  text-align: center;
  padding: 15px;
  h2 {
    letter-spacing: 3px;
  }

  h4 {
    padding-bottom: 6px;
    margin-top: -8px;
    font-size: 17px;
  }
}

.band-min-price {
  border-bottom: 0.1px solid white;
}

.band-show-description {
  p {
  margin-left: 16px;
  margin-right: 8px;
  margin-bottom: 0px;
  }
}

.band-show-action {
  display:flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  .band-show-media {
    font-size: 23px;
  }
}

.band-show-video {
  margin-top: 32px;
  margin-left: 48px;
  margin-right: 8px;
}

iframe {
  margin-top: 32px;
  border: 15px solid #000;
  border-radius: 5px !important;
  box-shadow: 5px 5px 20px black;
}
