.container {

	margin-top: 16px
}

.fa {
	font-size: 35px;
}

.user-show-main {
  h1 {
    text-align: center;
  }

  h2 {
  	margin-top: none;
  }
}


.bands-show-image-border {
	border: solid black 1px;
	margin-bottom: 16px;
	margin-right: 16px;
	padding-bottom: 8px;

}

.bands-show-text {
    margin-bottom: 48px;
}

.image-band-show {
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
}

.bands-show-social-logo {
 display: flex;
 justify-content: space-around;
 padding-bottom: 48px;


}
    	
.fab { 
   margin-right: 8px;
   font-size: 40px;
    	}
   


.bands-show-name {
	border: solid black 1px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 16px;
	text-align: center;

}



.bands-show-music-name {
	display: flex;
	align-items: center;
	padding-bottom: 48px;
	h5 {
	text-align: center;
}

}

.bands-show-player {
	display: flex;
	align-items: center;
}

.bands-show-tags {
	display: flex;
	align-items: center;
}

.bands-show-video {
	border: solid black 1px;
	margin-bottom: 32px;
	margin-left: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;

}

.bands-show-tags {
	border: solid black 1px;
	margin-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
}

.bands-show-repertories {
	border: solid black 1px;
	margin-bottom: 16px;
	margin-left: 16px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
}

.bands-show-description {
	margin-bottom: 48px;
}

.bands-show-action {
	display: flex;
	justify-content: space-around;
	border: solid black 1px;
	margin-bottom: 32px;
	margin-left: 16px;
	padding: 16px;
}


