.image-bar-show {
	max-height: 400px;
}

.classic-temp {
	border: solid white 3px ;
	margin-bottom: 32px;
	padding: 16px;
	border-radius: 3px;
	margin-left: 4px;
	margin-right: 4px;
	background-color: rgba(255,255,255,0.3);
	color: white;

}

.bars-show-image {
	display: flex;
	justify-content: center;
}

.bars-show-action {
	display: flex;
	justify-content: space-around;	
	margin-bottom: 32px;
	margin-left: 4px;
	margin-right: 4px;
}

.bars-show-h3 {
	text-align: center;
}

.bttn-bands-show {
	margin-right: 32px;
}