.card {
  flex: 1 1 auto;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

.card:hover {
  margin-top: -5px;
}

.card-body {
  height: 180px;
  background-size: cover;
  color: white;
  position: relative;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.card-footer p {
  color: rgba(0,0,0,0.4);
  font-weight: lighter;
  font-size: 12px;
}
