.btn-primary {
  background-color: #3A3B9A;
  border-color: $highlight;
}

.btn-primary:hover {
  background-color: $highlight;
  border-color: $highlight;
}

.card-body {
  position: relative;
  padding: 0.25rem;
}

.card-text {
  position: absolute;
  bottom: 0px;
  margin: 0px;
}

.card-title {
  text-transform: uppercase;
   font-weight: bold;
}
