.footer {
  display: flex;
  justify-content: space-between;
  background: $highlight;
  color: black;
  padding: 11px 13px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.fix-footer-home{
  position: static;
}
a {
  color: white !important;
  text-decoration: none;
}

.fab-footer {
  padding-left: 8px;
}

#copyright-phrase {
  color: white;
}
@media (max-width: 540px) {
  .fab-footer {
    display: none;
  }
  #copyright-phrase {
    display: none;
  }
}
