// Form design

.simple

.form-margin {
  margin-top: 100px;
}
.form-margin-role {
  margin-top: 100px;
}

.form-margin-banda-bar {
  margin-top: 100px;
}

.form-post {
  background: rgba(255,255,255,0.2);
  justify-content: center;
  color: $light-white;
  font-family: $body-font;
  padding: 200px;
  border-radius: 10px;
  box-shadow: 0 10px 60px -5px black;

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: $highlight;
    margin-bottom: 50px;
    margin-top: 0px;
    color: white;
    font-family: $headers-font
  }
  .btn {
    width: 30%;
    padding: 10px;
    font-weight: bold;
  }
  li {
    color: black;
  }
}
@media (max-width: 720px) {
  .form-post {
    padding: 20px;
  }
}
// Checkboxes design
.tag-choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.tag-choice {
  background: $highlight;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 10%;
  text-align: center;
  color: white;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: #e45180;
  color: white;
  opacity: 1;
  }
}

.caixa-bttn {
text-align: center;
margin-top: 32px;
}

label {
	font-weight: bold;
}

.row-form {
  margin-bottom: 64px;
  margin-top: 64px;
}

// Select2

.select2-results__option {
  color: black;
}
.plain {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 4px;
}
.select-band-form {
  width: 400px;
  align-self: center;
}
.select2-selection__choice {
  color: $background;
}
