
 .gig-card-body-home {
  background-color: #55597b;
  box-shadow: 0 10px 60px -5px black;
  color: white;
  padding-top: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
  text-align: center;
  font-size: 8px;
}
 .gigs-box-home {
  border-radius: 10px;
}


.gig-card-genero-home {
   padding-top: 8px;
   font-size: 12px;
 }

 .gig-card-localizacao-home {
   font-size: 12px;
 }

 .gig-card-data-home {
   font-size: 12px;
 }

 .gig-card-price-home {
   font-size: 12px;
   color: $price;
 }
 .btn-primary {
  justify-content: center;
  background-color: $call-action !important;
  border: 1px solid $call-action !important;
  padding: .5rem 1rem;
  border: 1px solid transparent;
  line-height: 1.25;
  font-weight: 400;
  }

 .btn-primary-card-home {
     box-shadow: 0 5px rgba(72, 190, 255, 0.4), 0 10px rgba(72, 190, 255, 0.3),
              0 15px rgba(72, 190, 255, 0.2), 0 20px rgba(72, 190, 255, 0.1),
              0 25px rgba(72, 190, 255, 0.05),
              -5px 5px 40px rgba(100, 0, 0, 0.4);
     padding-bottom: 16px;
}

.gig-card-home-effect:hover {

      transform: scale(1.1) ;
      transition: transform .4s;
      z-index: 1;
    }

.gig-card-home-effect {
  padding-bottom: 24px;
}

.gig-card-top-home {
   background-color: rgba(0, 0, 0,0.3);
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 16px;

}

.urgente {
   background-color: rgba(215, 40, 40,0.3);
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 16px;

}
.home-card-gig-bttn {
  font-size: 12px;
}

.btn-primary-card-home {
  font-size: 16px;
}

.home-gigs-urgentes {
  padding-top: 80px;
}
