.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  font-family: $headers-font;

  &:before {
    padding-right: 20px;
    color: white;
  }
}

.nav-link:hover {
  border-bottom: 2px solid white;
}

.navbar-brand {
  margin: 0 0 0 20px;
  padding-right: 10px;
  visibility: hidden;
}

.navbar-brand-dark {
  background-color: $highlight;
  transition: ease 0.3s;
}

.navbar-brand-logo p {
  visibility: visible !important;
}
