.band-search {
  margin-right: 24%;
  color: white;
  background-color: #2C2C2C;
  border-radius: 0 5px 5px 0;
}

.genre-selector {
  width: 180px !important;
}

.band-search-title {
  padding-left: 16.3%;
}

.band-search-form {
  padding-left: 19px;
}

@media screen and (max-width: 600px) {
  .search-title h1 {
    font-size: 25px;
  }

  .band-search-form {
    padding-left: 0px;
    padding-bottom: 5px;
    display: flex;
    .btn-primary {
      margin-left: 5px;
    }
  }
  .genre-selector {
    width: 155px !important;
  }
}
