<div class = "container margin-set">
  <div class="row bar-name-div">
    <div class="col-xs-12">
      <h1 class="bar-name"><%= "#{@gig.title} no #{@bar.name}" %></h1>
    </div>
  </div>


  <div class="row">

    <div class="col-xs-12 col-md-8 mr-2-sm">
      <div class="row">
        <%= render 'gigs/info_bar' %>
      </div>
      <div class="row mt-2">
        <%= render 'gigs/info_band' %>
      </div>

    </div>

    <div class="col-xs-12 col-md-4 mt-2-xs">
      <div class="row">
        <%= render 'gigs/info_map' %>
      </div>
      <div class="row">
        <div class="band-show-media">

        <a href="#"><i class="fab fa-instagram fab-show"></i></a>
        <a href="#"><i class="fab fa-facebook fab-show"></i></a>
        <a href="#"><i class="fab fa-twitter fab-show"></i></a>
        <a href="#"><i class="fab fa-youtube fab-show"></i></a>

        </div>
      </div>

    </div>
  </div>

</div>
