<div class="gig-box band-blog-card element-card">
  <div class="blog-card alt">
    <div class="meta">
      <div class="card-photo" style="background-image: url(<%= @gig.band.photo.url %>)"></div>
    </div>
    <div class="description">
      <h1><%= @gig.band.name %></h1>
<!--       <h2>TAGS DA BANDA</h2> -->
      <p><% @gig.band.description %></p>
<!--       <p class="read-more">
        <a href="#">Read More</a>
      </p> -->
    </div>
  </div>
</div>
