<!-- components map_box
 -->
<div class="map_box">
  <h3><%= gig.title %></h3>
  <p><%= gig.bar.address %></p>
  <p><% gig.gig_tags.each do |gig_tag| %>
    <%= gig_tag.tag.genre %>
    <% end %></p>
</div>
