<div class="modal fade" id="modal<%= gig.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= gig.bar.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Endereço: Rua Mourato Coelho, 1404</p>
        <p>Descrição: <%= gig.description %></p>
      </div>
      <div class="modal-footer">
        <% if current_user.band %>
          <% if current_user.band.gigs.include?(gig) %>

            Voce ja aplicou para este gig

          <% else %>

            <%= link_to "Inscrever!", gig_applies_url(gig), class: "btn btn-secondary",
                                      method: :post,
                                      data: { confirm: "Aplicar para esse Gig?"} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%#= link_to "Cancelar Inscricao!", gig_apply_url(gig), class: "btn btn-secondary",
                                      method: :delete,
                                      data: { confirm: "Cancelar inscricao?"} %>
